<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/kfonts2.css" rel="stylesheet">

</head>
<body>
<h1>WAP General chat</h1><br><br>
<div class="form-group">
    <textarea id="chat-body" class="form-control" readonly rows="20px"></textarea>
</div>
    <!--닉네임 사용여부 기능-->
    <p><label>Choose Online_id: <br/></label>
        Using nickname <input type="radio" name="onlineid" id="onlineid_nick" value="usenicksql" checked>
        Using name <input type="radio" name="onlineid" id="onlineid_name" value="usenamesql">
    </p>
    <label>Type what you want to say: </label>
    <input type="text" class="form-control" id="mytext" placeholder="type anything">
    <input type="button" class="form-control" value="chat" onclick="clk()"><br>


    <div id="UploadBox">
        <span id="uploadArea">
        <label for="fileBox">Choose A File : </label>
            <input type="file"  id="fileBox"><br>
        <label for="nameBox">Name : </label><input type="text" class="form-control" id="nameBox"><br>
        <button type="button" class="form-control" id="uploadButton">Upload</button><br>
    </span>
    </div>

<script src="/js/bootstrap.min.js"></script>
</body>

<script>
    var socket = io.connect("http://localhost:4000");
    var roomId = 1;
    socket.emit('join:room', {roomId: roomId});

    function clk() {
        var message = $('#mytext').val();
        socket.emit('chatReqG', {
            msg: message,
            user_id: '<%= user_id %>',
            checked_id: $('#onlineid_nick').is(':checked')
        });
    }

    socket.on('chatRes', function (data) {
        console.log(data);

        if (data.user_id != undefined) {
            $('#chat-body').html($('#chat-body').html() + data.user_id + ':' + data.msg + '\n');
        } else {
            $('#chat-body').html($('#chat-body').html() + data.user_name + ':' + data.msg + '\n');
        }
    });

    $('#mytext').keydown(function (key) {
        var message = $('#mytext').val();
        if (key.keyCode == 13 && message != "") {
            socket.emit('chatReqG', {
                msg: message,
                user_id: '<%= user_id %>',
                checked_id: $('#onlineid_nick').is(':checked')
            });
            $('#mytext').val(null);
            $('#mytext').focus();
        }
    });

    //파일 서버로 받아와서 서버에 저장
    window.addEventListener("load", Ready);

    function Ready() {
        if (window.File && window.FileReader) {
            //jQuery는 addEventListener가 아니라 bind로 이벤트를 만든다
            $('#uploadButton').bind('click', StartUpload);
            $('#fileBox').bind('change', FileChosen);
        } else {
            $('#uploadButton').innerHTML = "지원하지 않는 브라우저입니다."
        }
    }

    var selectedFile;

    function FileChosen(event) {
        selectedFile = event.target.files[0];
        $('#nameBox').val(selectedFile.name);
        //jQuery 로 쓸 수 있는 함수 : val(), text(), html()
    }

    var fileReader;
    var Name;

    function StartUpload() {
        if ($('#fileBox').value != "") {
            fileReader = new FileReader();
            console.log(selectedFile.type);
            Name = $('#nameBox').val();
            var Content = "<span id='NameArea'>Uploading " + selectedFile.name + " as " + Name + "</span>";
            Content += "<span id='Uploaded'> - <span id='MB'>0</span>/" + (selectedFile.size / 1048576).toFixed(3) + "MB</span>";
            $('#uploadArea').html(Content);
            fileReader.onload = function (event) {
                if (!event) {
                    var data = fileReader.content;
                } else {
                    var data = event.target.result;
                }
                socket.emit('Upload', {Name: Name, Data: data});
            }
            socket.emit('Start', {Name: Name, Size: selectedFile.size});
        }
        else {
            alert("Please Select A File");
        }
    }

    socket.on('MoreData', function (data) {
        console.log(data.Percent);
        UpdateBar(data.Percent);
        var Place = data.Place * 524288;
        console.log(Place);
        var NewFile = "";

        if (selectedFile.webkitSlice)
            NewFile = selectedFile.webkitSlice(Place, Place + Math.min(524288, (selectedFile.size - Place)));
        else {
            NewFile = selectedFile.slice(Place, Place + Math.min(524288, (selectedFile.size - Place)));
            fileReader.readAsBinaryString(NewFile);
        }
    });

    function UpdateBar(percent) {
        $('#percent').innerHTML = (Math.round(percent * 100) / 100) + '%';
        var MBDone = Math.round(((percent / 100.0) * selectedFile.size) / 1048576);
        $('#MB').html(MBDone);
    }

</script>
</html>
