<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Chat</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/kfonts2.css" rel="stylesheet">

</head>
<body>
<h1>WAP Conference Chat</h1>
<form>
    <div id="chat-body" rows="20px"  style="border: 1px solid;width:50%;height: 300px;overflow:scroll;">
             </div>
    <!--닉네임 사용여부 기능-->
    <p>
        <label>Choose Online_id: <br/></label>
        Using nickname <input type="radio" name="onlineid" id="onlineid_nick" value="usenicknamesql" checked="checked">
        Using name <input type="radio" name="onlineid" id="onlineid_name" value="usenamesql">
    </p>
    <div class="form-group">
    <label>Type what you want to say: </label>
    <input type="text" class="form-control" id="mytext" placeholder="type anything" required="" autofocus="">
    <input type="button" class="btn" value="chat" onclick="clk()">
    </div>
    <br>
    <div id="conference-table" readonly rows="20px" style="border: 1px solid;width:50%;height: 300px;overflow:scroll">

    </div><br>
    <input type="button" class="btn" id="deletingButton" value="Delete">
    <input type="button" class="btn" id="exportingButton" value="Export"><br>
</form>

<div class="container" id="UploadBox">
        <span id="uploadArea">
        <label for="fileBox">Choose A File : </label>
            <input type="file"  id="fileBox"><br>
        <label for="nameBox">Name : </label>
            <input type="text" class="form-control" id="nameBox" required="">
        <button type="button" class="btn" id="uploadButton">Upload</button><br>
    </span>
</div>



<script src="/js/bootstrap.min.js"></script>
</body>
<script>
    var socket = io.connect("http://localhost:4000");


    var arr = [];
    var moveArr=[];
    var boxArr=[];
    var moveToConferenceTalbe = '<input type="checkbox" id="checkBox" onclick="chkfirst()">';
    var candidateCheck= '<input type="checkbox" id="deleteBox" onclick="chkdelete()">';


    function first(data) {
        return '<b>' + data + '</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+moveToConferenceTalbe+'<br>';
    }
    function checkingbox(){
        var count=0;
        var box=document.getElementById("checkBox");
        if(box==true){
            boxArr.push(count++);
            }
    }

    var roomId = 2;
    socket.emit('join:room', {roomId: roomId});

    function clk() {
        var message = $('#mytext').val();
        socket.emit('chatReqC', {
            msg: message,
            user_id: '<%= user_id %>',
            checked_id: $('#onlineid_nick').is(':checked')
        });
    }
    //줄바꿈이 제대로 되지 않음
    socket.on('chatRes', function (data) {
        console.log(data);
        arr.push(first(data));
        if (data.user_id != undefined) {
            $('#chat-body').html($('#chat-body').html() + data.user_id + ':' + data.msg + '\n');
        } else {
            $('#chat-body').html($('#chat-body').html() + data.user_name + ':' + data.msg + '\n');
        }
    });
    $('#mytext').keydown(function (key) {
        var message = $('#mytext').val();
        if (key.keyCode == 13 && message != "") {
            socket.emit('chatReqC', {
                msg: message,
                user_id: '<%= user_id %>',
                checked_id: $('#onlineid_nick').is(':checked')
            });
            $('#mytext').val(null);
            $('#mytext').focus();
        }
    });
    //클릭하면 데이터 옮기는 함수
    function chkfirst(){
        //Get the checkBox
        var conferenceContent=arr[arr.length-1];
        var CheckBox=document.getElementById("checkBox");
        //If the checkbox is checked, display the output text
        if(CheckBox.checked==true)
            //conference-table에 데이터 옮기기
            socket.emit('conferenceChat',{cmsg:conferenceContent});
    }

    function chkdelete(){
    var conferenceMessage=moveArr[moveArr.length-1];//수정해야해
    var deleteBox=document.getElementById("deleteBox");
    // var linedMessage=conferenceMessage.fontcolor("red");
    // var makeEmpty=conferenceMessage.replace(conferenceMessage,linedMessage);
    if(deleteBox.checked==true){
        // console.log(makeEmpty);//remove 기능 만들기
        moveArr.pop();
        console.log(moveArr[moveArr.length-1]);
        }
    }

    socket.on('conferenceRes',function(data){
        console.log(data);
        moveArr.push(data);
        $('#conference-table').html($('#conference-table').html()+data.cmsg+candidateCheck+'<br>');
    });


    $('#mytext').keydown(function (key) {
        var message = $('#mytext').val();
        if (key.keyCode == 13 && message != "") {
            socket.emit('chatReqC', {
                msg: message
            });
            $('#mytext').val(null);
            $('#mytext').focus();
        }
    });

</script>
</html>