<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Chat</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/kfonts2.css" rel="stylesheet">

</head>
<body>
<h1>WAP Conference Chat</h1>
<form>
    <div class="form-control" id="chat-body" rows="20px"
         style="border: 1px solid;width:50%;height: 300px;overflow:scroll;">
    </div>
    <!--닉네임 사용여부 기능-->
    <p>
        <label>Choose Online_id: <br/></label>
        Using nickname <input type="radio" name="onlineid" id="onlineid_nick" value="usenicksql" checked>
        Using name <input type="radio" name="onlineid" id="onlineid_name" value="usenamesql">
    </p>
    <div class="form-group">
    <label>Type what you want to say: </label>
    <input type="text" class="form-control" id="mytext" placeholder="type anything">
    <input type="button" class="btn" value="chat" onclick="clk()">
    </div>
    <br>
    <div id="conference-table" readonly rows="20px" style="border: 1px solid;width:50%;height: 300px;overflow:scroll"></div><br>
    <input type="button" class="btn" id="deletingButton" value="Delete">
    <input type="button" class="btn" id="exportingButton" value="Export"><br>
</form>

<div id="UploadBox">
        <span id="uploadArea">
        <label for="fileBox">Choose A File : </label>
            <input type="file"  id="fileBox"><br>
        <label for="nameBox">Name : </label>
            <input type="text" class="form-control" id="nameBox">
        <button type="button" class="btn" id="uploadButton">Upload</button><br>
    </span>
</div>



<script src="/js/bootstrap.min.js"></script>
</body>
<script>
    var socket = io.connect("http://localhost:4000");

    var arr = [];
    var moveArr=[];
    var moveToConferenceTalbe = '<input type="checkbox" id="checkBox" onclick="chkfirst(arr[arr.length-1])">';
    var moveToTextFile = '<input type="checkbox" id="textCheckbox" onclick="">';

    function first(data) {
        return '<b>' + data + '</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + moveToConferenceTalbe + '<br>';
    }
    function end(data){
        return '<b>'+data+'</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>';
    }

    var roomId = 2;
    socket.emit('join:room', {roomId: roomId});

    function clk() {
        var message = $('#mytext').val();
        socket.emit('chatReqC', {
            msg: message

        });
    }

    socket.on('chatRes', function (data) { //72-81줄 수정 부탁드립니다.
        console.log(data);
        //arr.push(f(data));
        //$('#chat-body').html($('#chat-body').html() + data + '\n');

        arr.push(first(data));
        $('#chat-body').html($('#chat-body').html() + arr[arr.length-1] + '\n');
    });

    //클릭하면 데이터 옮기는 함수
    function chkfirst(data){
        //Get the checkBox
        var CheckBox=document.getElementById("checkBox");
    //If the checkbox is checked, display the output text
        if(CheckBox.checked==true){
            //conference-table에 데이터 옮기기
            socket.emit('conferenceChat',{cmsg:data});
        }
    }

    socket.on('conferenceRes',function(data){
        console.log(data);
        moveArr.push(end(data));//무한루프지점
        $('#conference-table').html($('#conference-table').html()+moveArr[moveArr.length-1]+'\n');
    });

    $('#mytext').keydown(function (key) {
        var message = $('#mytext').val();
        if (key.keyCode == 13 && message != "") {
            socket.emit('chatReqC', {
                msg: message
            });
            $('#mytext').val(null);
            $('#mytext').focus();
        }
    });

</script>
</html>