<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Chat</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
</head>
<body>
<h1>WAP Conference Chat</h1>
<form>
    <div id="chat-body" rows="20px" itemtype="checkbox"
         style="border: 1px solid;width:50%;height: 300px;overflow:scroll;"></div>
    <!--닉네임 사용여부 기능-->
    <p> <label>Choose Online_id<br/></label>
        Using nickname:<input type="radio" name="onlineid" id="onlineid_nick" value="" checked>
        Using name:<input type="radio" name="onlineid" id="onlineid_name" value="">
    </p>
    <label>Type what you want to say: </label>
    <input type="text" id="mytext"  placeholder="type anything">
    <input type="button" value="chat" onclick="clk()">
    <input type="checkbox" id="checkbox" value="UploadToCon.table">UploadToContentTable<br>
    <br>
    회의 안건 개수를 입력하세요 : <input type="text" id="agendacount" placeholder="숫자로만 입력하세요"><input type="submit"
                                                                                          value="개수입력"><br>
    <textarea id="conference-table" readonly rows="20px" placeholder="회의 안건이 비어있습니다."></textarea><br>
    <input type="button" id="deletingButton" value="Delete">
    <input type="button" id="exportingButton" value="Export"><br>
</form>
</body>
<script>
<<<<<<< HEAD
    var socket = io.connect("http://localhost:5000");
=======
    var arr = [];

    function f(data) {
        return '<b>' + data + '</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="checkBox" value="UploadToCon.table" onclick="chk()"><br>';
    }

    var socket = io.connect("http://localhost:4000");
>>>>>>> ecede70101b950103f08c968ca679f18c8bbd1fe
    var roomId = 2;
    socket.emit('join:room', {roomId: roomId});

    function clk() {
        var message = $('#mytext').val();
        socket.emit('chatReqC', {msg: message});
    }

    socket.on('chatRes', function (data) {
        console.log(data);
        arr.push(f(data));
        $('#chat-body').html($('#chat-body').html() + arr[arr.length - 1] + '\n');
    });

<<<<<<< HEAD
    var socket.io();
    $('#')

    function usenickname(){
        var usebutton= $('#').val();
        var printnick = $('#onlineid_nick').val();
        if()
        {

        }


    }
=======
    $('#mytext').keydown(function (key) {
        var message = $('#mytext').val();
        if (key.keyCode == 13 && message != null) {
            socket.emit('chatReqC', {
                msg: message
            });
        }
    });

    $('#mytext').val(function (index, item) {
        //return "";
    });
>>>>>>> ecede70101b950103f08c968ca679f18c8bbd1fe

    // function usenickname('onlineid_nick'){
    //     var
    // }
    //
    // function usename('onlineid_name'){
    //     var
    // }

</script>

</html>