<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form method="post" name="membership">
    이름 : <input type="text" id="name" name="name"><br>
    생년월일 : <input type="date" id="birthday" name="birthday" placeholder="YYMMDD 형식으로 입력해주세요" maxlength="6"><br>
    전화번호 : <input type="text" id="number" name="number" placeholder="'-'을 제외한 번호를 입력해주세요" maxlength="11"><br>
    아이디 : <input type="text" id="user_id" name="user_id"><br>
    비밀번호 : <input type="password" id="user_pw" name="user_pw"><br>
    비밀번호 확인 : <input type="password" id="verify_pw" name="verify_pw"><br>
    닉네임 입력 : <input type="text" id="user_nick" name="user_nickname"><br>
    <input type="submit" value="회원가입 하기">

</form>
</body>
</html>
