<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/kfonts2.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width:600px;padding:40px 20px;>
    <form method=" method="post" class="form-group" name="membership">
    <form action="/join" class="form-group" method="post" name="membership">
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

    이름 : <input type="text" class=form-control id="name" name="name" required="" autofocus=""><br>
    생년월일 : <input type="date" class=form-control id="birthday" name="birthday" placeholder="YYMMDD 형식으로 입력해주세요" maxlength="6" required=""><br>
    전화번호 : <input type="text" class=form-control id="number" name="number" placeholder="'-'을 제외한 번호를 입력해주세요" maxlength="11" required=""><br>
    아이디 : <input type="text" class=form-control id="user_id" name="user_id" required=""><br>
    비밀번호 : <input type="password" class=form-control id="user_pw" name="user_pw" required=""><br>
    비밀번호 확인 : <input type="password" class=form-control id="verify_pw" name="verify_pw" required=""><br>
    닉네임 입력 : <input type="text" class=form-control id="user_nick" name="user_nickname" placeholder="닉네임 설정은 필수사항이 아닙니다." required=""><br>
    <input type="submit" class="btn btn-control" value="회원가입 하기">

</form>
</div>


<script src="/js/bootstrap.min.js"></script>
</body>
</html>
