<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/kfonts2.css" rel="stylesheet">
    <meta charset="utf-8"/>
</head>
<body>


<!-- 로그인폼 -->
<div class="container" style="max-width:400px;padding:40px 20px; background:#ebeff2">
<form action="/login" class="form-signin" method="post">
    <h2 class="form-signin-heading">Please Login</h2>
    <input name="user_id" type="text" class="form-control" placeholder="id를 입력하세요" required="" autofocus=""/><br/>
    <input name="user_pw" type="password" class="form-control" placeholder="pw를 입력하세요" required=""/><br/>
    <input value="로그인" type="submit" class="btn btn-lg btn-primary btn-block"/>

</form>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
