<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Title</title>

</head>
<body>
   <!--데이터가져오기-->
<br>
    <h2>modify user information</h2>
<table class="modify">
    <tr>
        <td>아이디</td>
        <td><input type="text"name="user_id"readonly="reafonly"> </td>
    </tr>
    <tr>
        <td >비밀번호</td>
        <td><input type="user_pw"name="user_pw"></td>

    </tr>
    <tr>
        <td >전화번호</td>
        <td><input type="numberw"name="number"></td>

    </tr>
    <tr>
        <td >닉네임</td>
        <td><input type="user_nickname"name="user_nickname"></td>

    </tr>
</table>
</br>


</body>
</html>







