<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Title</title>

</head>
<body>
   <!--db에서 데이터 가져오기-->
<br>
    <h2>modify user information</h2>


</body>
</html>







